<div style="display:none">
  <div class="row template-detail-users">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel" style="background-color: #F7F7F7;">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_content">

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_content">
                    <div class="x_panel">
                      <h3>d.name <small>d.username</small></h3>
                      <div id="actions-d.id" data-pk="d.id" data-name="d.name" data-username="d.username" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px">
                        <button class="btn btn-success btn-xs pull-right btn-active" type="button"  data-placement="top" ><i class="fa fa-cubes m-right-xs"></i>Enable/Disable</button>
                        <button class="btn btn-info btn-xs pull-right btn-passwd" type="button"  data-placement="top"><i class="fa fa-pencil m-right-xs" ></i>Reset passwd</button>
                        <button class="btn btn-info btn-xs pull-right btn-edit" type="button"  data-placement="top"><i class="fa fa-pencil m-right-xs" ></i>Edit</button>
                        <button class="btn btn-danger btn-xs pull-right btn-delete" type="button"  data-placement="top" ><i class="fa fa-remove m-right-xs"></i>Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_content">
                    <div class="x_panel">
                      <h3>Secondary groups <small>d.secondary_groups</small></h3>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-md-6 col-xs-6">
                  <div class="x_content">
                    <div class="x_panel">
                      <div class="x_title">
                        <h3>Quotas for this user <small></small></h3>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <div id="show-users-quota-d.id" class="show-users-quota" style="padding: 5px;">
                          {% include '/snippets/quota_edit.html' %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="col-md-6 col-md-6 col-xs-6">
                    <div class="x_panel">
                      <div class="x_title">
                        <h3>Limits for this user <small></small></h3>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <div id="show-users-limits-d.id" class="show-users-limits" style="padding: 5px;">
                          {% with type="limits" %}
                            {% include '/snippets/quota_edit.html' %}
                          {% endwith %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        </div>

      </div> <!-- end x_panel -->
    </div> <!-- End col -->
  </div> <!-- end row -->
</div>
